.conteiner{
	margin: 0px auto;
	width: 1146px;
	height: 100%;
	overflow: hidden;
} 
body{
	margin: 0;
	padding: 0px 0px 0px 0px;
	font-family: 'Rubik', sans-serif;
}
header{
	position: absolute;
	width: 480px;
	height: 60px;
	z-index: 50;
	display: flex;
}
header h1{
	margin-top: 13px;
	margin-bottom: 0px;
	font-weight: 600;
	font-size: 20px;
	line-height: 32px;
}
header p{
	margin-top: -10px;
	margin: 0px 0px;
	font-weight: normal;
	font-size: 17px;
	line-height: 2px;
}
#hd1{
	width: 200px;
	margin: 0px 0px 0px 35px;
}
#tg2{
	width: 26px;
	height: 25px;
	margin-left: 120px;
	margin-right: 20px;
}
#df{
	margin-top: 20px;
}
#one{
	width: 1146px;
	height: 840px;
}
#frst{
	background-image: url(images/bg.png);
	width: 1146px;
	background-repeat: no-repeat;
	height: 587px;
}
#frst h1{
	position: absolute;
	margin-top: 250px;
	width: 636px;
	height: 131px;
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	line-height: 117.69%;
	display: flex;
	align-items: center;
	color: #111111;
	margin-left: 31px;
	margin-top: 157px;
}
#scnd{
	position: absolute;
	z-index: 1;
	margin-top: -587px;
	margin-left: 667px;
	
}
#scnd img{
	box-shadow: 0px 4px 6px 4px rgba(0, 0, 0, 0.25);
}
#frst_p{
	position: absolute;
	width: 379px;
	height: 29px;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	line-height: 30px;
	align-items: center;
	color: #000000;
	margin-top: 333px;
	margin-left: 32px;
}
#frst ul{
	margin-top: 396px;
	position: absolute;
	display: flex;
	height: 48px;
	padding-left: 0px;
	list-style: url(images/36.png);
}
#frst li{
	font-size: 18px;
	width: 160px;
	height: 47px;
	margin-left: 50px;
}
.two{
	width: 100%;
	display: flex;
}
#img9{
	margin-left: 32px;
	margin-top: 17px;
}
.two h1{
	margin-left: 50px;
	margin-top: 17px;
	width: 532px;
	height: 128px;
	font-weight: 600;
	font-size: 50px;
	line-height: 57px;
}
.two ul{
	width: 544px;
	height: 340px;
	margin-left: 40px;
	margin-top: 20px;
	list-style: url(images/37.png);
}
.two li{
	margin-top: 25px;
	width: 520px;
	font-weight: 600;
	font-size: 22px;
	line-height: 28px;
}
.two a{
	margin-top: 10px;
	margin-left: 370px;
	position: absolute;
	width: 200px;
	text-decoration: none;
}
#pdf{
	width: 208px;
	height: 61px;
	margin-top: 0px;
	margin-left: 5px;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 33px;
}
#pdf:hover{
	background: #BBB7B7;
}
#bt{
	color: #000000;
	font-size: 19px;
	align-items: center;
	font-weight: 600;
	margin-left: 35px;
	line-height: 113.5%;
}

#img10{
	margin-top: 30px;
	width: 100%;
}
.ub{
	position: absolute;
	background: #828282;
	width: 607px;
	height: 575px;
	margin-top: 100px;
	margin-left: 32px;
}
.ub h1{
	font-weight: 600;
	font-size: 60px;
	line-height: 104%;
	color: white;
	margin-left: 25px;
	margin-top: 40px;
	margin-bottom: 0px;
}
.ub p{
	color: #fff;
	margin-top: 18px;
	margin-left: 45px;
	font-size: 17px;
	font-weight: bold;
}
.ub ul{
	list-style: url(images/6.png);
	padding-left: 45px;
}
.ub li{
	margin-top: 23px;
	color: white;
	font-size: 17px;
	font-weight: normal;
	line-height: 27px;
}
#img34{
	margin-top: -88px;
	margin-left: 68px;
}
#img2{
	margin-top: 100px;
	margin-left: 660px;
}
.four{
	padding-bottom: 55px;
	padding-top: 55px;
	width: 1146px;
	margin-top: 35px;
	background: #828282 ;
}
.line1{
	width: 80%;
	height: 1px;
	background: #FFFFFF;
	;
	margin: 0px auto 0 auto;
}
.four h1{
	margin: 30px auto 0 auto;
	font-size: 60px;
	font-weight: 600;
	width: 804px;
	color: #FFFFFF;
	;
}
.pak{
	width: 100%;
	display: flex;
}
#pak1{
	margin-left: 10px;
	margin-top: 80px;
	width: 387px;
	height: 100%;
}
#pak2{
	margin-left: -20px;
	margin-top: 60px;
	width: 385px;
	height: 100%;
}
#pak3{
	margin-left: -20px;
	margin-top: 36px;
	width: 389px;
	height: 100%;
}
#line2{
	width: 80%;
	height: 1px;
	background: #FFFFFF;
	margin: 99px auto 0px auto;
}
.five{
	display:flex;
	padding: 97px 30px 100px 30px;
}
.sk{
	padding-left: 100px;
}
.sk h1{
	margin: 0px 0px 70px 0px;
	font-size: 60px;
	line-height: 100.5%;
	font-weight: bold;
}
#sk_h{
	margin-bottom: 0px;
}
.sk p{
	position: absolute;
	margin-left: 272px;
	margin-top: -10px;
	font-weight: normal;
	font-size: 17px;
	line-height: 18px;
}
.cen{
	padding-top: 25px;
	padding-left: 50px;
}
.cen_img{
	margin-bottom: 100px;
}
.six{
	padding: 90px 0px 0px 0px;
}
#bg{
	padding: 47px 44px 47px 44px;
	background: #828282;
	display: flex;
}
.six h1{
	font-size: 60px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 0px;
}
#lonas_a{
	margin-bottom: 50px;
}
.do{
	padding: 0px 0px 0px 70px;
}
.do h1{
	font-weight: 600;
	font-size: 40px;
	color: #ffff;
}
#do_2{
	width: 369px;
	height: 176px;
	background: #FFFFFF;
	border-radius: 25px;
	padding: 50px 40px 50px 40px;
}
#do_2 ul{
	margin: 0px 0px 0px 0px;
	list-style: url(images/29.png);
}
#do_2 li{
	font-size: 17px;
	font-weight: normal;
	margin-bottom: 34px;
}
.seven{
	padding: 75px 65px 2px 70px;
	margin-bottom: 100px;
}
.seven h1{
	font-weight: bold;
	font-size: 40px;
	margin: 0px 0px 21px 23px;
}
.seven_flex{
	display: flex;
}
.s_1{
	width: 34%;
}
.s_ul{
	background: #989488;
	border-radius: 10px;
	height: 29%;
	margin-bottom: 30px;
}
.s_ul ul{
	list-style: url(images/6.png);
	padding: 29px 27px 25px 41px;
}
.s_ul li{
	color: #FFFFFF;
	font-size: 17px;
	margin-bottom: 27px;
}
#img7{
	margin-bottom: 30px;
	background-image: url(images/image7.png);
	width: 100%;
	height: 207px;
	background-repeat: no-repeat;
}
.phone{
	margin-top: 20px;
	margin-left: 122px;
}
#img6{
	width: 100%;
	height: 240px;
	background-image: url(images/image6.png);
}
.eight{
	background: #828282;
	color: white;
	padding: 60px 30px 25px 30px ;
}
.eight h1{
	margin: 0px 0px 23px 0px;
	font-weight: bold;
	font-size: 60px;
}
.al_z{
	width: auto;
}
.al_flex{
	margin-top: 23px;
	display: flex;
	margin-bottom: 60px;
}
.al_do{
	margin-left: 64px;
}
.al_do h1{
	font-weight: 500;
	font-size: 60px;
}
.al_do ul{
	margin-left: -10px;
	list-style: url(images/6.png);
}
.al_do li{
	margin-bottom: 25px;
	font-weight: 500;
	font-size: 20px;
}
.al_posle h1{
	margin-bottom: 0px;
}
#img25{
	margin-top: -20px;
}
.nine{
	background: #828282;
	padding: 45px 30px 150px 30px ;
	margin-top: 115px;
	margin-bottom: 217px;
}
.ten{
	background: #828282;
	width: 100%;
	height: 270px;
	margin-bottom: 170px;
}
#kc{
	margin: -309px auto 0px 233px;
	position: absolute;
}




@media screen and (max-width: 450px){
	.conteiner{
		width: 100%;
		margin: 0px 0px 0px 0px;
	
	}
	header{
		width: auto;
	}
	#hd1{
		margin-left: 10px;
	}
	#df{
		margin-left: 90px;
	}
	#tg2{
		margin-right: 5px;
		margin-left: 11px;
	}
	#frst{
		width: 100%;
		height: 80%;
	}
	#frst h1{
		margin-top: 40px;
		font-size: 25px;
		width: 230px;
		line-height: 90%;
		z-index: 2;
		margin-left: 15px;
	}
	#one{
		width: 100%;
		height: 374px;
	}
	#scnd{
		margin-left: 248px;
		margin-top: -300px;
	}
	#scnd img{
		width: 150px;
		position: absolute;
		
	}
	#frst_p{
		margin-top: 150px;
		font-size: 17px;
		font-weight: 500;
		margin-left: 15px;
		width: 185px;
		line-height: 15px;
	}
	#frst ul{
		height: 100px;
		margin: 190px 0px 0px 0px;
		width: 285px;
		padding-left: 25px;
		display: block;
		list-style: url(images/35.2.png);
	}
	#frst li{
		font-weight: 600;
		font-size: 13px;
		width: 200px;
		margin-left: 10px;
		height: 20px;
		margin-top: 12px;
		
	}
	#img9{
		width: 45%;
		height: 45%;
		margin-top: 35px;
		margin-left: 10px;
	}
	/*--two--*/
	.two{
		width: 100%;
		margin-top: -90px;
	}
	.two h1{
		margin-left: 12px;
		margin-top: 40px;
		font-size: 19px;
		width: 200px;
		height: 50px;
		margin-bottom: 0px;
		line-height: 20px;
	}
	.two ul{
		height: auto;
		padding-left: 9px;
		margin-top: 0px;
		margin-left: 10px;
		width: 180px;
		list-style: url(images/37.2.png);
	}
	.two li{
		margin-top: 10px;
		width: 175px;
		font-size: 11px;
		line-height: 13px;
	}
	.two a{
		margin-top: -35px;
		margin-left: -157px;
		width: 120px;
		height: 40px;
		position: block;
	}
	#pdf{
		width: 120px;
		height: 30px;
	}
	#bt{
		margin-left: 14px;
		width: 90px;
		height: 35px;
		margin-top: 6px;
		font-size: 13px;
	}
	/*--img10--*/
	#img10{
		margin-top: 15px;
		width: 100%;
	}
	/*--three--*/
	.three{
		height: auto;
	}
	.ub{
		margin-left: 20px;
		width: 200px;
		margin-top: 20px;
		height: auto;
	}
	#img2{
		margin-left: 230px;
		width: 40%;
		margin-top: 20px;
	}
	.ub h1{
		margin-left: 10px;
		width: 200px;
		font-size: 22px;
		margin-top: 15px;
	}
	.ub p{
		margin-left: 20px;
		font-size: 12px;
		margin-top: 10px;
		margin-bottom: 0px;
	}
	.ub ul{
		padding-left: 25px;
		list-style: url(images/6.2.png);
		margin-top: 10px;
	}
	.ub li{
		margin-top: 5px;
		font-size: 10px;
		line-height: 12px;
	}
	#img34{
		width: 30%;
		margin-left: 250px;
		margin-top: 15px;
	}
	.four{
		width: 100%;
	}
	#line1{
		margin-top: 25px;
	}
	.four h1{
		margin-left: 52px;
		width: 320px;
		font-size: 24px;
	}
	#pak1{
		margin-top: 36px;
		margin-left: 5px;
		width: 140px;
	}
	#pak2{
		margin-top: 29px;
		margin-left: -7px;
		width: 140px;
	}
	#pak3{
		margin-top: 20px;
		margin-left: -7px;
		width: 140px;
	}
	#line2{
		margin-top: 30px;
	}
	/*--five--*/
	.five{
		padding: 30px 10px 30px 10px;
	}
	#ng{
		width: 40%;
		height: 40%;
	}
	.sk{
		width: 140px;
		padding-left: 30px;
	}
	.sk h1{
		display: flex;
		font-size: 18px;
		margin-bottom: 30px;
	}
	.sk p{
		font-size: 8px;
		margin-top: 1px;
		margin-left: 1px;
	}
	.cen{
		width: 50px;
		padding-left: 0px;
		padding-top: 0px;
	}
	.cen_img{
		display: flex;
		margin-bottom: 35px;
		width: 60%;
	}
	#img199{
		margin-top: 5px;
	}
	/*--img31--*/
	#img31{
		width: 100%;
	}
	/*--six--*/
	.six{
		padding-top: 20px;
	}
	#lonas_a{
		margin-bottom: 20px;
	}
	.six h1{
		font-size: 20px;
	}
	#lonas{
		width: 40%;
	}
	#bg{
		padding: 20px 15px;
	}
	#bg img{
		width: 50%;
		height: 50%;
	}
	.do{
		padding-left: 15px;
	}
	#do_2{
		width: 150px;
		height: 140px;
		padding: 15px 5px 10px 10px;
	}
	#do_2 ul{
		padding-left: 15px;
		list-style: url(images/29.2.png);
	}
	#do_2 li{
		font-size: 12px;
		margin-bottom: 15px;
	}
	/*--Seven--*/
	.seven{
		padding: 40px 10px 0px 10px ;
		margin-bottom: 20px;
	}
	.seven h1{
		font-size: 30px;
		margin-left: 10px;
		margin-bottom: 0px;
	}
	.s_1{
		width: 50%;
	}
	.phone{
		margin-top: 15px;
		margin-left: 20px;

	}
	#phone{
		width: 159px;
	}
	.s_ul{
		height: 311px;
		margin-bottom: 20px;
	}
	.s_ul ul{
		list-style: url(images/6.2.png);
		padding: 30px 10px 15px 25px;
	}
	.s_ul li{
		font-size: 15px;
		margin-bottom: 50px;
		line-height: 20px;
	}
	#li_last{
		margin-bottom: 0px;
	}
	#img7{
		background-image: url(images/image7_2.png);
		height: 104px;
		background-repeat: no-repeat;
		margin-bottom: 10px;
	}
	#img6{
		background-repeat: no-repeat;
		height: 105px;
		margin-left: 20px;
		background-image: url(images/image6_2.png);
	}
	#im{
		width: 414px;
		display: flex;
	}
	/*--Eight--*/
	.eight{
		padding: 25px 10px;
	}
	.eight h1{
		font-size: 23px;
		margin-bottom: 10px;
	}
	.al_z{
		width: 40%;
	}
	#img11{
		width: 50%;
	}
	.al_do{
		margin-left: 20px;
	}
	.al_do ul{
		padding-left: 25px;
		list-style: url(images/6.2.png);
	}
	.al_do li{
		font-size: 13px;
	}
	.al_flex{
		margin-bottom: 15px;
	}
	#img25{
		width: 100%;
		margin-top: -25px;
	}
	/*--Nine--*/
	.nine{
		padding: 25px 10px;
		margin-top: 40px;
		margin-bottom: 70px;
	}
	#img26{
		width: 355px;
	}
	/*--Ten--*/
	.ten{
		width: 100%;
		height: 100px;
		margin-bottom: 50px;
	}
	#kc{
		margin-left: 100px;
		width: 250px;
		margin-top: -90px;
	}
}