.conteiner{
	margin: 0px auto;
	width: 1146px;
	overflow: hidden;
	height: 100%;
}
body{
	width: auto;
	margin: 0;
	padding: 0;
	font-family: 'Rubik', sans-serif;
}
header{
	position: absolute;
	width: 480px;
	height: 60px;
	z-index: 50;
	display: flex;
}
header h1{
	margin-top: 13px;
	margin-bottom: 0px;
	font-weight: 600;
	font-size: 20px;
	line-height: 32px;
}
header p{
	margin-top: -10px;
	margin: 0px 0px;
	font-weight: normal;
	font-size: 17px;
	line-height: 2px;
}
#hd1{
	width: 200px;
	margin: 0px 0px 0px 35px;
}
#tg2{
	width: 26px;
	height: 25px;
	margin-left: 120px;
	margin-right: 20px;
}
#df{
	margin-top: 20px;
}
#one{
	width: 1146px;
	height: 840px;
}
#frst{
	background-image: url(images/bg.png);
	width: 100%;
	background-repeat: no-repeat;
	height: 587px;
}
#frst h1{
	position: absolute;
	margin-top: 250px;
	width: 636px;
	height: 131px;
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	line-height: 117.69%;
	display: flex;
	align-items: center;
	color: #111111;
	margin-left: 31px;
	margin-top: 157px;
}
#scnd{
	position: absolute;
	z-index: 1;
	margin-top: -587px;
	margin-left: 667px;
	box-shadow: 0px 4px 6px 4px rgba(0, 0, 0, 0.25);
}
#frst_p{
	position: absolute;
	width: 379px;
	height: 29px;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	line-height: 30px;
	align-items: center;
	color: #000000;
	margin-top: 333px;
	margin-left: 32px;
}
#frst ul{
	margin-top: 396px;
	position: absolute;
	display: flex;
	height: 48px;
	padding-left: 0px;
	list-style: url(images/36.png);
}
#frst li{
	font-size: 18px;
	width: 160px;
	height: 47px;
	margin-left: 50px;
}


@media screen and (max-width: 520px){
	.conteiner{
		max-width: 500px;
	}
	#df{
		margin-left: 68px;
	}
	#tg2{
		margin-right: 5px;
		margin-left: 11px;
	}
	#frst{
		height: 40%;
	}
	#frst h1{
		margin-top: 50px;
		font-size: 27px;
		width: 270px;
		line-height: 90%;
	}
	#scnd{
		margin-left: 290px;
		margin-top: -337px;
	}
	#scnd img{
		width: 200px;
	}
	#frst_p{
		margin-top: 150px;
		font-size: 13px;
	}
	#frst ul{
		margin-top: 215px;
		width: 50px;
		padding-left: 5px;
	}
	#frst li{
		font-size: 12px;
		width: 50px;
		margin-left: 45px;
	}
}