#conteiner{
	margin: 0px auto;
	max-width: 1146px;
	overflow: hidden;
	height: 100px;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Rubik', sans-serif;
}
header{
	position: absolute;
	width: 480px;
	height: 42px;
	z-index: 50;
}
header h1{
	margin-top: 13px;
	margin-bottom: 0px;
	font-weight: 600;
	font-size: 20px;
	line-height: 32px;
}
header p{
	margin-top: -10px;
	margin: 0px 0px;
	font-weight: normal;
	font-size: 17px;
	line-height: 2px;
}
#gf{
}
#one{
	position: absolute;
	background-image: url(images/bg.png) ;
	width: 1146px;
	height: 587px;
}
@media screen and (max-width: 520px){
	#conteiner{
		width: 499px;
	}
}